@model IEnumerable<FirstCoreApp.Models.Customer>
@*@model FirstCoreApp.Models.ViewModel*@
@{
    ViewData["Title"] = "Index";
}

@*<h1>Welcome to customer controller action view </h1>
    <h2 class="text-success">@ViewBag.msg</h2>
    <h2>@ViewData["msg"]</h2>

    <ol>
        @foreach(var cc in ViewBag.courses)
        {
            <li>@cc</li>
        }
    </ol>*@
<h2><a asp-action="Create">Create</a></h2>
<table class="table table-bordered">
    <thead>
        <tr><th colspan="5">@ViewBag.message</th></tr>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model)
        {
            <tr>
                <td>@cust.Id</td>
                <td>@cust.Name</td>
                <td>@cust.Email</td>
                <td>@cust.Mobile</td>
                <td>

                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@cust.Id" class="btn btn-outline-info" onclick="return confirm('Are you sure edit this record !')">Edit</a>

                    <a asp-controller="Customer" asp-action="Delete" asp-route-id="@cust.Id" class="btn btn-danger" onclick="return confirm('Are you sure !')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@*<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>City</th>
            <th>Pin</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cust in Model.Addresses)
        {
            <tr>
                <td>@cust.Id</td>
                <td>@cust.Address1</td>
                <td>@cust.Address2</td>
                <td>@cust.City</td>
                <td>@cust.Pin</td>

            </tr>
        }
    </tbody>
</table>*@

